@tailwind base;
@tailwind components;
@tailwind utilities;

.ck-editor__editable,
.ck-editor__editable_inline {
  min-height: 200px !important;
  cursor: text !important;
  user-select: text !important;
  -webkit-user-select: text !important;
}

.ck.ck-editor__editable:not(.ck-editor__nested-editable).ck-focused {
  border: none !important;
  box-shadow: none !important;
}rapper {
  z-index: 99999 !important;
}